.previewElement {
    width: 24%;
    height: 250px; 
    margin-bottom: 1em;
    .previewLink {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        .imageWrapper {
            position: relative;
            width: 100%;
            height: 90%;
            img {
                object-fit: contain;
            }
        }

        .previewTitle {
            font-size: 1.2em;
        }
    }
}