@import '../../../scss/colors.scss';


.main {

    .productContainer {
        padding-top: 2em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-bottom: 10vh;
        .productTitle {
            font-size: 2.5em;
        }
        .productInfo {
            display: flex;
            flex-direction: row;
            padding: 1em;
            box-shadow: rgba(99, 99, 99, 0.7) 0px 2px 8px 0px;
            .imageContainer {
                position: relative;
                width: 66%;
                min-height: 500px;
                img {
                    padding: 1em;
                    object-fit: contain;
                }
            }
            .productContent {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 1em;
                h2 {
                    font-size: 1.1em;
                    padding: 0.3em 0;
                }
               
                .productDescriptionContainer {
                    width: 100%;
                    height: 50%;
                    display: flex;
                }
                .productBuySpecsContainer {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    height: 100%;
                    .productSpecsContainer {
                        width: 50%;
                        height: 100%;
                        ul {
                            list-style: none;
                            li {
                                padding: 0.1em 0em;
                                font-size: 0.9em;
                            }
                        }      
                    }
                    .productBuyContainer {
                        height: 100%;
                        width: 40%;
                        .productPrice {
                            gap: 1em;
                            height: 30%;
                            font-size: 2em;
                            color: $mainRed;
                            margin-bottom: 5%;
                            span {
                                height: fit-content;
                                display: block;
                            }
                            .prevPrice {
                                font-size: 0.7em;
                                text-decoration: line-through;
                                color: #848484;
                                vertical-align: middle;
                            }
                        }
                        .productBuy {
                            height: 50%;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            button {
                                border: 0;
                                font-size: 1em;
                                padding: 1em;
                                transition: 0.1s ease-in;
                                &:hover {
                                    cursor: pointer;
                                }
                                &.cartButton {
                                    background-color: $whiteColor;
                                    border: 1px $blackColor solid;
                                    color: $blackColor;
                                    font-weight: 400;
                                    &:hover {
                                        background-color: $whiteActiveColor;

                                    }
                                }
                                &.buyButton {
                                    background-color: $mainRed;
                                    color: $whiteColor;
                                    font-weight: 400;
                                    &:hover {
                                        background-color: $mainActiveRed;

                                    }
                                }
                            }
                        }
                    }
                   
                }
            }

        }
    }
}