@import '../../../../scss/mixins';
@import '../../../../scss/colors';

$numOfOptions: 9;
$borderWidth: 1px;

li.menuContainer {
    user-select: none;
    font-size: 0.9em;
    font-weight: 100;

    width: 100%;
    height: fit-content;
    background-color: $whiteColor;
    @media (min-width: 544px) {
    }
    @media (min-width: 768px) {
        height: calc(100% / $numOfOptions);
        border-left: $borderWidth $whiteSecondaryColor solid;
        border-right: $borderWidth $whiteSecondaryColor solid;
    }

    
    background-color: $whiteColor;

    

    div.categoryContainer {
        @include horizontalFlex;
        align-items: center;

        padding: 0.8em 0.4em 0.8em 1em;
        gap: 10px;

        white-space: nowrap;

        div.iconWrapper {
            position: relative;
            min-width: 1.6em;
            min-height: 1.6em;
        }

        svg {
            min-width: 28px;
            margin-left: auto;
            path {
                stroke: $whiteSecondaryColor;
                stroke-width: 2.5;
            }
        }
    }

    .menuDropdownContainer {
        display: flex;
        position: absolute;
        flex-direction: row;
        left: 0;
        top: 0;
        z-index: -1;
        &.active {
            flex-direction: row;
            z-index: -1;
            .dropdownContent {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: auto;
                min-height: 100%;
                padding: 0;
                @media(min-width: 768px) {
                    flex-direction: row;
                }

                .dropdownListContainer {
                    width: 0;
                    height: 0;
                    display: none;
                }
            }
        }

        @media(max-width: 768px) {
            &.active {
                position: relative;
                flex-direction: row;
                z-index: 1000;
                width: 100%;
                height: fit-content;
    
                .dropdownContent {
                    background-color: $whiteColor;
                    border: 1px $whiteSecondaryColor solid;
                    padding: 0.6em 2.5em;
                    
                    .dropdownListContainer {
                        width: max-content;
                        height: max-content;
                        padding: 3px;
    
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        gap: 2px;
                    }
                }
            }
        }
        @media (min-width: 544px) {
        }
        @media (min-width: 768px) {
            
        }
    
        
    
        .whiteSpace {         
            z-index: -1;
            width: 0;
            height: 0;
            @media (min-width: 544px) {
            }
            @media (min-width: 768px) {
                width: 25%;
                height: 100%;
                min-width: 300px;
            }
        }
        .dropdownContent {
           
            flex-wrap: wrap;

            height: fit-content;
            @media (min-width: 544px) {
            }
            @media (min-width: 768px) {
                @include horizontalFlex;
                width: 100%;
                height: auto;
                min-height: 100%;
                gap: 3em;
            }
            align-content: flex-start;
            .dropdownListContainer {
                width: 0;
                height: 0;
                display: none;
                
                .dropdownListHeader {

                    a {
                        text-decoration: none;
                        color: $mainRed;
                        font-size: 1em;
                        font-weight: 400;

                        @media(min-width: 768px) {
                            font-weight: 700;
                        }

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
                
                .dropdownList {

                    display: none;
                    @media (min-width: 544px) {
                    }
                    @media (min-width: 768px) {
                        display: flex;
                        flex-direction: column;
                    }
                    
                    gap: 2px;

                    .dropdownListElement {
                        border: 0 !important;
                        
                        a {
                            font-size: 0.9em;
                            font-weight: 400;

                            &:hover {
                                text-decoration: underline;
                            }
                        }   
                    }
                }
                

            }
        }
    }
    &:hover {
        font-weight: 700;
        background-color: #f2f2f2;
        .categoryContainer {

            cursor: pointer;
        }
        .menuDropdownContainer {       

            width: calc(100%);
            @media (min-width: 544px) {
            }
            @media (min-width: 768px) {
                min-height: 100%;
                height: min-content;
                min-width: 760px;
                margin-right: auto;
                margin-left: auto;
                .dropdownContent {
                    background-color: $whiteColor;
                    border: 1px $whiteSecondaryColor solid;
                    padding: 0.6em 2.5em;
                    
                    width: 100%;
                    margin-left: 0 - $borderWidth;
    
                    .dropdownListContainer {
                        width: max-content;
                        height: max-content;
                        padding: 3px;
    
                        display: flex;
                        flex-direction: column;
    
                        gap: 2px;
                    }
                }
            }
            
            @media (min-width: 868px) {
                
                min-width: 860px;
                
            }
            @media (min-width: 992px){
                min-width: 940px;
            }
            @media (min-width: 1200px) {
                min-width: 1200px;
            }

        }
    }

}