@import '../scss/colors';
@import '../scss/mixins';

.main {
  display: flex;
  flex-direction: column;

  gap: 5em;

  @media(min-width: 768px) {
    gap: 10vh;
  }

  .previewSection {
    width: 100%;
    .previewTitle {
      font-size: 2em;
      margin-bottom: 20px;
    }

    .previewList {
      @include resetUnorderedList($blackColor);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1%;
      flex-wrap: wrap;
    }
  }



  .promoContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 5em;
    width: 100%;
    gap: 10px;
    .promoHeading {
      width: 100%;
      font-size: 2em;
      padding: 0.2em 0em;
    } 
  
    .promoItemsContainer {
      width: 100%;
      display: flex;
      gap: 10px;
      border-top: 1px $mainRed solid;
      
      .promoItemListContainer {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 100%;
          color: $blackColor;
          background-color: $whiteColor;
        }
    }
    
  }

  .infoSection {
    width: 100%;
    padding: 5vh;
    background-color: $mainRed;
    color: $whiteColor;

    .infoContent{
      .infoHeading {
        text-align: center;
        font-size: 3em;
      }
      .infoList {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        margin: 6em 0;
  
        .infoElement {
          width: 33%;
          text-align: center;
          h2 {
            font-size: 3em;
          }
          span {
            font-size: 1.5em;
          }
        }
      }
    }
  }


  .ratingsSection {
    width: 100%;

    .ratingsTitle {
      text-align: center;
      font-size: 2em;
      margin-bottom: 1em;
    }

    .ratingsContainer {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }
}
