@import "../../../scss/colors";
@import "../../../scss/mixins";

$backgroundColor: $whiteColor;
.header {
    z-index: 1000;
    background-color: $backgroundColor;

    
    &.active {
        position: sticky;
        top: 0;
        box-shadow: 0 2px 5px -2px $blackColor;
    }
    .headerContent {
        width: 100%;
        padding-right: 0;
        .navTopRow {
            width: 100%;
    
            padding: 20px 0px;
    
            @include horizontalFlex;
            align-items: center;
            justify-content: space-between;
            
            .title {
                color: $blackColor;
                text-decoration: none;
                font-size: 1.2em;
            }

            .userMenu {
                @include horizontalFlex;
                @include resetUnorderedList($blackColor);
        
                gap: 30px;
            
                li a {
                    font-size: 1.2rem;
                }
            }
        }
    
        .mainNavContainer {
            width: 100%;
            @include horizontalFlex;
            background-color: $backgroundColor;
            gap: 10px;
            .navEl {
                padding: 0.8em;
            }
    
            ul {
                @include resetUnorderedList($blackColor);
            }
    
            nav.megaMenuNav {
                position: relative;
                width: 25%;
                min-width: 300px;
                
                div.megaMenuHeader {
                    background-color: $mainRed;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    
                    @include horizontalFlex;
                    align-items: center;
                    gap: 5px;
                    
                    span {
                        color: $whiteColor;
                    }
        
                    svg {
                        display: inline-block;
                        width: 28px;
                        height: 100%;
                        path {
                            fill: $whiteColor;
                        }
                    }
                }
    
    
                ul.megaMenuOptions {
                    position: absolute;
    
                    display: flex;
                    flex-direction: column;
                    z-index: 1000;
    
                    width: 100%;
                    height: 460px;
                    
                    li:last-child {
                        border-bottom: 1px $whiteSecondaryColor solid;
                        border-bottom-left-radius: 15px;
                        padding-bottom: 0;
                    }
                }
    
            }
    
            nav.offerNav {
                
                width: 100%;
            
                ul {
                    @include horizontalFlex;
                }
            }
        }
    }
}

