@import "../../../scss/colors";
@import "../../../scss/mixins";

.header {
    width: 100vw;
    .navTopRow {
        width: 100%;
        height: 140px;

        padding: 20px;

        @include horizontalFlex;
        align-items: center;
        justify-content: space-between;
        
        .userMenu {
            @include horizontalFlex;
            @include resetUnorderedList;
    
            gap: 30px;
        
            li a {
                font-size: 1.2rem;
            }
        }
    }

    .mainNavContainer {
        width: 100%;
        @include horizontalFlex;
        
        gap: 10px;
        .navEl {
            padding: 1em;
        }

        ul {
            @include resetUnorderedList;
        }

        nav.megaMenuNav {
            position: relative;
            width: 25%;
            min-width: 300px;

            div.megaMenuHeader {
                background-color: #c81e1e;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
    
                @include horizontalFlex;
                align-items: center;
                gap: 5px;
    
                span {
                    color: #fefefe;
                }
    
                svg {
                    display: inline-block;
                    width: 28px;
                    height: 100%;
                    path {
                        fill: #fefefe;
                    }
                }
            }


            ul.megaMenuOptions {
                
                width: 100%;
                position: absolute;
                gap: 0px;
                flex-direction: column;
                
                li {
                    border-right: 1px #C7C6C1 solid;
                    border-left: 1px #C7C6C1 solid;
                }
                li:last-child {
                    border-bottom: 1px #C7C6C1 solid;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }

        }

        nav.offerNav {
            
            width: 100%;
        
            ul {
                @include horizontalFlex;
            }
        }
    }
}

