@import "../../../scss/colors";
@import "../../../scss/mixins";

$backgroundColor: $whiteColor;
.header {
    z-index: 1000;
    background-color: $backgroundColor;

    position: sticky;
    top: 0;
    box-shadow: 0 2px 5px -2px $blackColor;
    @media (min-width: 544px) {
    }
    @media (min-width: 768px) {
        box-shadow: none;
        position: static;
    }
    
    &.active {
        position: sticky;
        top: 0;
        box-shadow: 0 2px 5px -2px $blackColor;
    }
    .headerContent {
        width: 100%;
        padding-right: 0;
        .navTopRow {
            width: 100%;
            
            padding: 0.5em 1em;
    
            @include horizontalFlex;
            align-items: flex-end;
            justify-content: space-between;
            
            .title {
                color: $blackColor;
                text-decoration: none;
                font-size: 1em;
                @media (min-width: 768px) {
                    font-size: 1.2em;
                }
            }

            .userMenu {
                @include horizontalFlex;
                @include resetUnorderedList($blackColor);
        
                gap: 10px;
            
                li a {
                    svg {
                        width: 24px;
                        height: 24px;

                        @media (min-width: 768px) {
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }
    
        .mainNavContainer {
            width: 100%;
            @include horizontalFlex;
            background-color: $mainRed;
            color: $whiteColor;
            justify-content: space-between;
            align-items: center;

            @media (min-width: 544px) {
            }
            @media (min-width: 768px) {
                background-color: $whiteColor;
                color: $blackColor;
                gap: 10px;
            }
            .navEl {
                padding: 0.3em;
                @media (min-width: 768px) {
                    padding: 0.8em;
                }
                a {
                    color: inherit;
                    font-size: 0.9em
                }
            }
    
            ul {
                @include resetUnorderedList($blackColor);
            }
            .offerNav {
                .offerList {
                    flex-direction: row;
                    justify-content: flex-end;
                    gap: 5px;
                    padding-right: 1em;
                    @media (min-width: 768px) {
                        justify-content: flex-start;
                    }
                }
            }
    
            nav.megaMenuNav {

                
                width: fit-content;
                height: fit-content;
                @media (min-width: 544px) {
                }
                @media (min-width: 768px) {
                    width: 25%;
                    min-width: 300px;
                }

                div.megaMenuHeader {
                    background-color: $mainRed;
                    
                    @include horizontalFlex;
                    align-items: center;
                    gap: 5px;
                    
                    padding-left: 0.5em;
                    
                    span {
                        color: $whiteColor;
                        display: none;
                        width: 0;
                        height: 0;
                        z-index: 0;
                        @media (min-width: 544px) {
                        }
                        @media (min-width: 768px) {
                            width: auto;
                            height: auto;
                            display: inline;
                            border-top-left-radius: 5px;
                            border-top-right-radius: 5px;
                        }
                    }
        
                    svg {
                        display: inline-block;
                        width: 28px;
                        height: 100%;
                        path {
                            fill: $whiteColor;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
    
    
                ul.megaMenuOptions {
                    position: absolute;
                    
                    
                    li:last-child {
                        border-bottom: 1px $whiteSecondaryColor solid;
                        border-bottom-left-radius: 15px;
                        padding-bottom: 0;
                    }

                    &.dropwdownActive {
                        width: 100%;
                        height: 460px;
                        display: flex;
                        flex-direction: column;
                        z-index: 1000;
                        @media (min-width: 768px) {
                            width: 300px;
                        }
                    }
                    
                    display: none;
                    width: 0;
                    height: 0;
                    z-index: 0;
                    
                    @media (max-width: 768px) {
                        overflow-y: scroll;
                    }
                    
                }
    
            }
    
            nav.offerNav {
                
                width: 100%;
            
                ul {
                    @include horizontalFlex;
                }
            }
        }
    }
}

