@import '../../../scss/colors';
@import '../../../scss/mixins';

$textFieldBorderRadius: 2.5em;

.footer {
    margin-top: 20vh;
    .newsletterContainer {
        background-color: $mainRed;
        height: 150px;

        .newsletterForm {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .newsText {
                color: $whiteColor;
                font-size: 1.5em;
                width: 40%;
            }

            
            .inputContainer {
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 1em;
                width: 50%;

                .textField {
                    padding: 1.2rem;
                    height:fit-content;
                    width: 75%;
                    border: 0;
                    border-bottom-left-radius: $textFieldBorderRadius;
                    border-top-left-radius: $textFieldBorderRadius;
                    font-size: inherit;

                    &:focus {
                        outline: none;
                    }
                }
    
                .submitButtonContainer {
                    height: fit-content;
                    padding: 1.1rem;
                    padding-right: 1.5rem;
                    font-size: inherit;
                    border-bottom-right-radius: $textFieldBorderRadius;
                    border-top-right-radius: $textFieldBorderRadius;
                    background-color: $blackColor;
                    color: $whiteColor;
                    .submitButton {
                        border: 0;
                        text-align: center;
                        font-size: inherit;
                        background-color: inherit;
                        color: inherit;
                        cursor: inherit;
                    }
                    &:hover {
                        cursor: pointer;
                        background-color: $blackActiveColor;
                    }
                }

            }
        }
    }

    .footerNav {
        background-color: $blackActiveColor;
        width: 100%;
        height: 50vh;
        .navListsContainer {
            display: flex;
            flex-direction: row;
            height: 100%;
            width: 100%;

            padding-top: 1.5em;
            
            .socialsContainer {
                color: $whiteColor;
                width: 40%;
                height: 100%;
                .socialsCol {
                    width: fit-content;
                    height: 100%;

                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .socialsList {
                        display: flex;
                        flex-direction: row;
                        
                        width: 100%;

                        justify-content: center;
                        align-items: center;
                        gap: 3%;
                        
                        @include resetUnorderedList($whiteColor);
                    
                        .socialsItem {
                            width: 2.2em;
                            height: 2.2em;
    
                            svg {
                                fill: $whiteColor;
                                transition: 0.1s fill ease-in;
                            }
                            .facebookIcon {
                                &:hover {
                                    svg {
                                        fill: #4267B2;
                                    }
                                }
                            }
                            .twitterIcon {
                                &:hover {
                                    svg {
                                        fill: #1DA1F2;
                                    }
                                }
                            }
                            .instagramIcon {
                                &:hover {
                                    svg {
                                        fill: #E1306C;
                                    }
                                }
                            }
                            .youtubeIcon {
                                &:hover {
                                    svg {
                                        fill: #FF0000;
                                    }
                                }
                            }                       
                        }
                    }
                }

                
            }

            .innerNavContainer {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: center;
                gap: 30px;
                .navList {
                    color: $whiteColor;

                    .navHeading {
                        color: inherit;
                        font-weight: 400;
                        font-size: 1.2em;
                        margin-bottom: 5px;
                    }
                    .navLinks {
                        @include resetUnorderedList(inherit);
                        line-height: 1.8em;
                        font-size: 1em;
                        font-weight: 300;
                    }
                }


            }

        }
    }
    .copyrightContainer {
        width: 100%;
        background-color: $blackColor;
        padding: 1em;
        text-align: center;
        color: $whiteColor;
    }
}