@import "./colors";

@mixin horizontalFlex {
    display: flex;
    flex-direction: row;
}
@mixin resetUnorderedList($color) {
    list-style: none;
    li > * {
        color: $color;
        text-decoration: none;
    }
}
