* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  
  max-width: 100vw;

  @media (min-width: 544px) {
  }
  @media(min-width: 768px) {
    max-width: 760px;
    padding-right: .9375rem;
    padding-left: .9375rem;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 868px) {
    max-width: 860px;
  }
  @media (min-width: 992px){
    max-width: 940px;
  }
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}