@import '../../../scss/mixins';
@import '../../../scss/colors';

.main {
    margin-top: 2em;
    position: relative;
    width: 100%;
    .categoryTitle {
        font-size: 2.5em;
        font-weight: 400;
        margin-bottom: 2vh;
    }
}