@import '../../../scss/mixins';
@import '../../../scss/colors';

.main {
    margin-top: 2em;
    position: relative;
    width: 100%;
    .mainContainer {
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        padding: 1em;
        gap: 10px;
        
        @media(min-width: 768px) {
            flex-direction: row;
            padding: 0;
        }
    }
}