@import '../../../../scss/mixins';
@import '../../../../scss/colors';

.itemListContainer {
    @include horizontalFlex;
    @include resetUnorderedList($blackColor);
    
    width: 100%;
    
    color: inherit;

    flex-wrap: wrap;
    justify-content: center;

    
    .itemCard {
        display: flex;
        flex-direction: column;
        gap: 10px;

        padding: 0.8em;
        
        color: inherit;
        
        border-right: 1px #efecec solid;
        
        &:last-child {
            border-right: none;
        }

        .linkContainer {
            display: flex;
            flex-direction: column;
            color: inherit;
            .title {
                font-size: 1.1em;
                height: 2.5em;
            }
            
            .imageContainer {
                position: relative;
                width: 100%;
                height: 180px;
                display: flex;
                place-items: center;
                overflow: hidden;
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.1s scale ease-in;
                }
            }
        }

        .priceBuyContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: inherit;
            min-width: fit-content;

            .priceContainer {
                display: flex;
                flex-direction: column;
                
                .price {
                    position: relative;
                    font-size: 1.1em;
                    color: $mainRed;    
                }
                .prevPrice {
                    font-size: 0.8em;
                    color: #848484;
                    text-decoration: line-through;
                }
            }

            .button {
                display: grid;
                place-items: center;
                justify-self: right;
                
                padding: 0.7em;
                height: fit-content;
                border-radius: 5px;
                background-color: #efecec;                ;
                
                font-size: 0.8em;
                color: $whiteColor;
                text-decoration: none;

                transition: 0.1s color ease-in-out, 0.1s background-color ease-in-out;
            }
        }

        &:hover {
            box-shadow: rgba(99, 99, 99, 0.7) 0px 2px 8px 0px;

            .title {
                color: $mainRed;
            }

            img {
                scale: 110%;
            }

            .priceBuyContainer {

                .button {
                    background-color: $mainRed;
                }
            }
        }

        &.row2 {
            width: calc(100% / 2);
        }
        &.row3 {
            width: calc(100% / 3);
        }
        &.row4 {
            width: calc(100% / 4);
        }
        &.row5 {
            width: calc(100% / 5);
        }
        &.row6 {
            width: calc(100% / 6);
        }
    }
}