@import '../../../../scss/mixins';
@import '../../../../scss/colors';

.itemListContainer {
    @include horizontalFlex;
    @include resetUnorderedList($blackColor);
    
    width: 100%;
    
    color: inherit;

    flex-wrap: wrap;
    justify-content: flex-start;
}