@import '../../../../scss/mixins';
@import '../../../../scss/colors';

.categoryTitle {
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: 2vh;
}

.itemsSection {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    @media(min-width: 868px) {
        flex-direction: row;
    }
    min-height: 80vh;    
    .sideMenuContainer {
        display: flex;
        flex-direction: column;
        min-width: 300px;
        background-color: $mainRed;
        max-height: 350px;
        box-shadow: rgba(99, 99, 99, 0.7) -2px 4px 4px 0px;
        @media(min-width: 868px) {
            background-color: $whiteColor;
            max-height: none;
            box-shadow: rgba(99, 99, 99, 0.7) 0px 2px 6px 0px;
        }

        .sideMenuTitleContainer {
            background-color: $whiteColor;
            
            @media(min-width: 868px) {
                background-color: $mainRed;
            }
            .sideMenuTitle {
                display: block;
                width: fit-content;
                user-select: none;
                color: $whiteColor;
                background-color: $mainRed;
                padding: 0.5rem 1rem;
                font-size: 1.3em;
                @media(max-width: 868px) {
                    &:hover {
                        cursor: pointer;
                    }
                }
                
                @media(min-width: 868px) {
                    font-size: 1.7em;
                    user-select: all;
                }
            }
        }

        .sideMenuContent {
            display: none;
           
            border-top: 0;
            background-color: $whiteColor;
            overflow: auto;
            &.active {
                display: block;
            }

            @media(min-width: 868px) {
                display: block;
                border: 0;
            }
            
            .filterContainer {
                display: flex;
                flex-direction: column;
                padding: 0.8em 1em;
                gap: 5px;
                .filterTitle {
                    font-size: 1.1em;
                }
    
                ul {
                    @include resetUnorderedList($blackColor);
                    display: flex;
                    flex-direction: column;
                    gap: 1px;
                    li {
                        button {
                            position: relative;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            background-color: $whiteColor;
                            border: 0;
                            padding: 0; 
                            font-size: 1em;
                            gap: 2px;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        
        
    }

    .itemsContainer {
        width: 100%;
    
        .itemList {
            @include resetUnorderedList($blackColor);
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            
            @media(min-width: 868px) {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
            }
        }
        .noProducts {
            padding: 0.5em;
            font-size: 1.5em;
        }
    }
    width: 100%;
}